<article class="white-panel">
  <a class="block" href="{% url 'videos:video' video.slug %}">
  {% if video.youtube_url %}
    <img src="http://img.youtube.com/vi/{{video.youtube_url}}/0.jpg"/>
  {% endif %}
  <h4 class="title">{{ video.title }}</h4>
  <div class="info">
    <span class="date">
      <span class="glyphicon glyphicon-calendar"></span> {{ video.create_date }}
    </span>
    <span class="user">
      {{ video.create_user }}
    </span>
    <span class="comments">
      <span class="glyphicon glyphicon-comment"></span> {{ video.get_comments.count }} Comments
    </span>
  </div>
  </a>
  {% if video.get_tags %}
  <div class="tags">
    {% for tag in video.get_tags %}
    <a href="#"><span class="tag tag-pill tag-default">{{ tag }}</span></a> {% endfor %}
  </div>
  {% endif %}

</article>


<!-- <div class="Pin Summary">
    <article class="">

    </article>

</div> -->
