{% extends "base.html" %}
{% load static %}
{% block title %}너 어디있어?{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <p>{{ location }}</p>
      <div id="map" style="width:100%;height:400px;"></div>
      <a href="{% url 'whatshouldieat:whereareyou' %}">My Location is wrong :(</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=pOK1vfqW3iwmGmewUghS"></script>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);
</script>

{% endblock content %}
